<h1>
    Welcome to Notes
</h1>

    <ul>
        {{#each notes}}
        {{!-- fix this a --}}
        {{!-- <a href="/{{this.id}}"> --}}
        <li class= "note" data-noteid="{{this.id}}">

         <h2>
            {{this.title}}
         </h2>

         <p>{{this.body}}</p>

        </li>
        </a>
        {{/each}}
  
  </ul>

  <form id= "create-form">
      <input type="text" name="label" class="title">
      <input type="text" name="body" class="body2">
    <button type="submit"id="create"> Create a new note!</button> 
  </form>

<script>
    
$(document).ready(function(){
 $("#create").on("click",function(event){
     event.preventDefault()
     var newNote ={
         title:$(".title").val(),
         body:$(".body2").val()
     }

     console.log(newNote);
     $.ajax("/",{
         type:"POST",
         data: newNote
     })
     .then(function(){
         console.log("Note has been added!");
         
     })
    $.ajax("/",{
        type:"GET",
    }).then(function(){
        console.log("you went through here")
    })
 })
})
</script>